* {margin: 0; padding: 0;}


#wrapper {
    width: 80%;
    margin: auto;
}


header{
    width: 100%;
    margin: 2%;
    padding: auto;
}

nav{
    width: 100%;
    margin: 2%;
    padding: auto;
}

footer{
    width: 100%;
    margin: 2%;
    padding: auto;
}


.columns{float: left;
}

nav{display:inline;
}

header{width: auto;
}

img{height: auto;
    padding: 10%;
    z-index: 20%;
}

article{padding:2%;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}




h1{color: rgb(255, 89, 29);}

body{
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    line-height: 180%;
    text-decoration: crimson;
    text-align: left;
    text-transform: none;
 }

 ul{
    list-style-type:none;
 }

img{
    width: 30%;
    height: 30%;
    position: relative;
}
    
h2{
    list-style-type: none;
}

a:link{
    color: darkblue;
}

a:visited{
    color: deepskyblue;
} 

a:hover{
    color: lightseagreen;
}


html{
    background-color: linen;
}


article{
    background-image: url(images/Background\ Image.webp);
    background-repeat: repeat-x;
}